#div1{
    background-color: cyan;
    width:100px;
    height:100px;
    left:20%;
    top:20%;
    position:absolute;

    /* transform: rotate(70deg); */
    /* transform: rotateX(70deg);
    transform: rotateY(70deg); */
    /* transform:scaleX(0.4,1.3)*/
    /* transform:tanslate(50%) */
    transition: 2s steps(6,end) ;
    /* transform:skew(20deg,20deg); */
    /* transform:matrix(2,0,1,2,10,0); */
        
}
#div1:hover{
    transform:translat(150px) rotate(39deg,15deg);
    border-radius: 50%;
    
}
