#outer-div{
	border:4px dashed red;
	margin:20px;
	
}
#div1{
	background-color: deepskyblue;
	height : 200px;
	width:200px;
	


	


}
#div2{
	background-color: maroon;
	height : 200px;
	width:200px;
	position:relative;
	
}
#div3{
	background-color: black;
	height : 200px;
	width:200px;
	position:sticky;
	

	
	

}