/* #box{
    width:250px;
    height:250px;
    margin: 100px auto;
    background-color:red;
}
#box:hover{
    background-color: green;
} */
#inner{
    width:250px;
    height:250px;
    padding:30px;
    background-color:black;
    text-align:center;
    margin:40px auto;
}
#outer{
    width:350px;
    height:350px;
    padding:30px;
    background-color:cyan;
    margin:40px auto;

}